certifi==2022.12.7
charset-normalizer==3.1.0
et-xmlfile==1.1.0
gitdb==4.0.10
GitPython==3.1.31
idna==3.4
openpyxl==3.1.2
python-gitlab==3.13.0
PyYAML==6.0
requests==2.28.2
requests-toolbelt==0.10.1
smmap==5.0.0
urllib3==1.26.15
